<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.takia.blog.dao.UserDao">
    <select id="findByName" parameterType="string" resultType="cn.takia.blog.entity.User">
    select * from b_user where b_user_name=#{name}
    </select>
    <insert id="addUser" parameterType="cn.takia.blog.entity.User">
        insert into b_user(
            b_user_id,
            b_user_name,
            b_user_password)
        values (
            #{b_user_id},
            #{b_user_name},
            #{b_user_password})
    </insert>
</mapper>    